<div id="photoset_slides_hold">
  <div id="photoset_slides">
    {% for obj in photoset %}
      {% if forloop.counter == 1 %}{# load the first, defer loading of subsequent #}
        <figure id="image_{{ forloop.counter }}">
          <img src="{{ obj.image.t_640.url }}">
      {% else %}
        <figure id="image_{{ forloop.counter }}" data-load-on-demand="{{ obj.image.t_640.url }}">
      {% endif %}
        <figcaption class="caption">
          {% firstof obj.caption obj.short_description %}
          {% if obj.related %}
            <ul class="fancy">
              {% for r in obj.related.all %}
                <li><a href="{{ r.get_absolute_url }}">{{ r }}</a></li>
              {% endfor %}
            </ul>
          {% endif %}
          <span class="byline">{{ object.byline }}</span>
        </figcaption>
      </figure>
    {% endfor %}
  </div>
</div> <!-- /photoset_slides -->