{% if user.is_staff %}
  <table border="1" cellpadding="4" style="border-collapse:collapse">
  <tr>
    <th colspan="2">Winner</th>
    <th>Question</th>
    <th>Prize</th>
    <th>email</th>
    <th>Ship to</th>
  </tr>
  {% for w in winners|dictsort:"question.id" %}
    <tr>
      {% with w.respondent as profile %}
        <td>{{ profile.display_name }}</td>
        <td>{% firstof profile.full_name %}</td>
        <td>{{ w.question }}</td>
        <td> {{ w.question.prize }}</td>
        <td>{{ w.respondent.email }}</td>
        <td>
          {% firstof profile.full_name profile.get_full_name %}<br>
            {{ profile.street_address }}<br>
            {{ profile.city }} {{ profile.state }} {{ profile.zip }}
            {% if w.notes %}
              <hr>{{ w.notes|linebreaks }}
            {% else %}
          {% endif %}
        </td>
      {% endwith %}
    </tr>
  {% endfor %}
</table>
{% else %}
  <h1>You're either not logged in, or you shouldn't be seeing this page.</h1>
{% endif %}