{% extends "happenings/event_detail.html" %}

{% block extra_title %}{{ block.super }} photos{% endblock %}

{% block bodyid %}gallery_detail{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/gallery.css">
{% endblock %}

{% block content %}
  <h1>{{ object.name }} Photos</h1>
  {% with object.get_all_images as photoset %}
    {% include "includes/photoset/photoset_photos.html" %}
  {% endwith %}
{% endblock %}

{% block aside %}
  {{ block.super }}
  <div id="photoset_info" class="sticky">
    <nav class="pager">
      <ul>
        <li class="prev" title="Previous"><span>previous</span></li>
        <li class="current">
          <span id="photoset_index">1</span> of {{ event.get_all_images|length }}
        </li>
        <li class="next" title="Next"><span>next</span></li>
      </ul>
    </nav>
    <div id="caption_hold"></div>
  </div>
  <hr class="fancy">
  {% block event_sidebars %}{% endblock %}
{% endblock %}
