{% extends "happenings/event_detail.html" %}

{% load typogrify_tags %}

{% block extra_title %}Events: {{ event.name }} Memories: {{ object.author.display_name }}
{% endblock %}

{% block bodyclass %}detail{% endblock %}

{% block content %}
  <article>
    <section class="content-body">
      {% include "includes/top_assets.html" %}
      {{ object.photos.all }}
      <h2 class="kicker">
        <a href="{{ event.get_absolute_url }}">
          {{ event.name }}
        </a>
      </h2>
      <h1>{{ object.author.display_name }}</h1>
      {{ object.thoughts_formatted|typogrify }}
      {% include 'comments/inclusion/comments.html' %}
    </section>
  </article>
  <hr class="clear">
{% endblock %}
