[submodule "tango_capo/static"]
	path = tango_capo/static
	url = http://github.com/tBaxter/capo.git
[submodule "apps/tango-articles"]
	path = apps/tango-articles
	url = https://tbaxter@github.com/tBaxter/tango-articles
