include INSTALL.md LICENSE README.md
recursive-include docs *.txt
recursive-include tango_admin *.html
recursive-include user_profiles *.html
recursive-include user_profiles *.json
recursive-include video *.html
