/* Capo basic reset/normalization styles Based on HTML5 Boilerplate 3.0: h5bp.com/css
*/
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }

audio, canvas, video { display: inline-block; }

audio:not([controls]), [hidden] { display: none; }

html { font-size: 100%; -webkit-text-size-adjust: 100%; }

body { margin: 0; font-size: 1em; line-height: 1.5; }

::selection { text-shadow: none !important; }

a:hover, a:active { outline: 0; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; display: block; font-size: 85%; font-family: Georgia, serif; font-style: italic; }
q:before, q:after { font-size: 3em; position: absolute; margin-top: -.25em; opacity: .5; font-style: normal; }
q:before { content: "“"; margin-left: -.5em; }
q:after { content: "”"; }

small { font-size: 80%; }

button, input, select, textarea { font-family: sans-serif; }

a { text-decoration: none; }

iframe, hr, img, fieldset, legend { border: 0; }

abbr[title] { border-bottom: 1px dotted; cursor: help; }

b, strong { font-weight: bold; }

blockquote { margin: 1em 1.5em; }

dfn { font-style: italic; }

hr { display: block; height: 1px; border-top: 1px solid #cccccc; margin: 1em 0; padding: 0; }

ins { background: #ff9; color: #000; text-decoration: none; }

mark { background: #ff6; color: #000; font-style: italic; font-weight: bold; }

sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }

sup { top: -0.5em; }

sub { bottom: -0.25em; }

h1 { font-size: 2em; line-height: 1em; margin: 0.25em 0; }

h2 { font-size: 1.75em; line-height: 1.33em; margin: 0.45em 0 0.45em; }

h3 { font-size: 1.25em; margin: 1em 0 0.33em; }

p, ol, ul { margin: 0.25em 0 0.75em; }

p + h2 { margin-top: 1.3em; }

p + h3 { margin-top: 1.5em; }

.meta { color: #777777; }

h2.meta { margin-bottom: 0; }

h2.meta + * { margin-top: 0; }

#content-side { font-size: 90%; }

/* ============================================================================= Lists ========================================================================== */
ul, ol { margin: 1em 0; padding: 0 0 0 1.5em; }

dd { margin: 0 0 0 1.5em; }

nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

/* ============================================================================= Embedded content ========================================================================== */
img { vertical-align: middle; width: 100%; }

img.noscale, .noscale img { width: auto; }

/* ============================================================================= Figures ========================================================================== */
figure { margin: 0; }

/* ============================================================================= Forms ========================================================================== */
form, fieldset, button, input, select, textarea { margin: 0; }

fieldset, legend { padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }

legend { white-space: normal; }

button, input, select, textarea { font-size: 100%; vertical-align: baseline; }

/* Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) */
button, input { line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/* Re-set default cursor for disabled elements */
button[disabled], input[disabled] { cursor: default; }

/* Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }

input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/* Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* ============================================================================= Tables ========================================================================== */
table { border-collapse: collapse; border-spacing: 0; }
table td { vertical-align: top; }

/* ==|== non-semantic helper classes ======================================= */
/* Hide from both screenreaders and browsers: h5bp.com/u */
.hide { display: none !important; visibility: hidden; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */ clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }

.clearfix:after { clear: both; }

.clearfix { *zoom: 1; }

.debug { background: #ffc; }

.clear { clear: both; margin: 0; }

hr.clear { visibility: hidden; }

.right { float: right; }

img.right, figure.right { margin-left: 1em; }

.left { float: left; }

img.left, figure.left { margin-right: 1em; }

.ellipse { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; }

/* ==|== print styles ======================================================= Print styles. Inlined to avoid required HTTP connection: h5bp.com/r ========================================================================== */
@media print { /* Black prints faster: h5bp.com/s */
  * { background: transparent !important; color: black !important; box-shadow: none !important; text-shadow: none !important; filter: none !important; -ms-filter: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  pre, blockquote { border: 1px solid #999999; page-break-inside: avoid; }
  thead { display: table-header-group; }
  /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
@media (min-width: 780px) { div[role=main], div[role=complementary] { display: inline-block; vertical-align: top; } }

@media (min-width: 780px) { div[role=main] { width: 66%; } }

@media (min-width: 780px) { div[role=complementary] { width: 33.5%; padding-left: 20px; } }
@media (min-width: 1220px) { div[role=complementary] { padding-left: 40px; } }

.wide div[role=main] { width: 100%; }
.wide div[role=complementary] { display: none; }

.split div[role=main], .split div[role=complementary] { width: 49.9%; }
.split div[role=complementary] { font-size: 100%; }

@media (min-width: 780px) { .reverse div[role=main] { float: right; } }
@media (min-width: 780px) { .reverse div[role=complementary] { float: left; padding-left: 0; padding-right: 20px; } }
@media (min-width: 1220px) { .reverse div[role=complementary] { padding-right: 40px; } }

.navicon { font-size: 150%; letter-spacing: -.33em; display: block; width: 1.75em; color: #101010; line-height: 1em; }
.navicon:before { content: "≡"; width: .33em; overflow: hidden; display: inline-block; color: #1d1d1d; }

table { width: 99.9%; margin: 1em 0; font-size: 95%; }
table caption { border-bottom: 1px solid #1d1d1d; color: #cacaca; text-align: left; font-weight: bold; text-transform: uppercase; font-size: 1.25em; padding: 0 0 0.5em; }
table th { font-weight: bold; border-bottom: 2px solid #cacaca; text-align: left; }
table td { font-size: 95%; border-bottom: 1px solid #363636; padding: 0.5em 5px; }
table td.num { text-align: right; }
table col.highlight { background: #101010; font-weight: bold; }
table.striped tbody tr:nth-child(odd) { background: #1d1d1d; }

ul.fancy { list-style: none; padding-left: 0; }
ul.fancy li { margin-bottom: .5em; padding-bottom: .5em; border-bottom: 1px solid #101010; }

dl { font-size: 95%; clear: both; margin-bottom: 1em; }
dl dt { float: left; display: block; font-weight: bold; clear: both; margin: 2em 0 0; padding: 0; color: #777777; border-bottom: 1px dotted #363636; width: 25%; }
dl dd { float: right; padding: 0.5em 20px 0; min-height: 2em; border-left: 1px solid #363636; width: 75%; }
dl dt + dd { margin-top: -2em; border-top: 1px dotted #363636; }

/****** GRIDDED CONTENT *******************************
*  Gridded content. Can have 1-6 columns. 3 is default.
*  Children can be any element: div, li, section, whatever.
*  usage:  foo class="columned"
*  or   :  foo class="columned four-col"
*  Note: on small screens multiple columns will be reset to a more appropriate width.
*  Experiment support for "auto" which sets the number of columns 
*  according to available sensible width.
*******************************************************/
.columned { margin: 0; padding: 0; list-style: none; position: relative; padding-right: 0 !important; }
.columned > * { position: relative; display: inline-block; vertical-align: top; padding-right: 20px; margin-right: -4px; }
.columned > *:last-child { padding-right: 0; }
@media (max-width: 779px) { .columned > * { display: block; width: auto; } }
@media (min-width: 780px) { .columned > * { width: 33%; } }
.columned.divided > * { border-left: 1px solid #363636; padding-left: 20px; }
.columned.divided > *:first-child { border-left: 0; padding-left: 0; }
.columned.one-col > * { width: auto; clear: none; }
.columned.two-col > * { width: 50%; }
@media (max-width: 779px) { .columned.four-col > * { width: 49%; } }
@media (min-width: 780px) { .columned.four-col > * { width: 25%; } }
.columned.five-col > * { width: 20%; }
.columned.six-col > * { width: 16.5%; }
@media (max-width: 779px) { .columned.auto > * { width: auto; } }
@media (min-width: 780px) { .columned.auto > * { width: 49%; } }
@media (min-width: 980px) { .columned.auto > * { width: 33.0%; } }
@media (min-width: 1220px) { .columned.auto > * { width: 19.9%; } }
.columned.phi > *:nth-child(odd) { width: 64.8%; }
.columned.phi > *:nth-child(even) { width: 35.19%; }
@media (min-width: 1220px) { .columned.phi > *:nth-child(even) { padding-left: 40px; } }
.columned.phi.reverse > *:nth-child(odd) { width: 38.19%; }
.columned.phi.reverse > *:nth-child(even) { width: 61.8%; }
@media (min-width: 1220px) { .columned.phi.reverse > *:nth-child(even) { padding-left: 0; padding-right: 40px; } }

.pager { background: #101010; color: #cacaca; border-radius: .5em; min-height: 2em; margin: 0; font-size: 90%; list-style: none; padding: 0; margin-bottom: 1em; text-align: center; }
.pager li { width: 40%; display: inline-block; padding: 0 2%; line-height: 2em; }
.pager li span, .pager li a { color: #f0f0f0; }
.pager li span:hover, .pager li a:hover { color: #d56312; }
.pager li.next, .pager li.prev { width: 29%; }
.pager li.next { float: right; text-align: right; margin-left: -100%; }
.pager li.next:after { content: "►"; padding-left: 5px; padding-top: 2px; }
.pager li.prev { float: left; text-align: left; margin-right: -100%; }
.pager li.prev:before { content: "◀"; padding-right: 5px; }
.pager li.next, .pager li.prev { font-size: 90%; margin-top: 2px; }

.tabbed > * { display: none; position: relative; z-index: 1; -webkit-transition: all 0.3s ease-in; -moz-transition: all 0.3s ease-in; -ms-transition: all 0.3s ease-in; -o-transition: all 0.3s ease-in; transition: all 0.3s ease-in; }
.tabbed > *.activeTab, .tabbed > ul { display: block; }
.tabbed > ul { font-size: 90%; width: auto; float: none; height: 1.67em; line-height: 1.67em; padding: 0; margin: 0 0 5px; clear: both; }
.tabbed > ul > li { display: inline; padding: 0.25em 1em 0.25em 1em; }
.tabbed > ul li.active { background: #d1b78b; border: 1px solid #363636; padding: 0.25em 1em; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; }

/* CALENDARS AND DATE HANDLING *************************/
.vevent.ended { filter: alpha(opacity=50); -ms-filter: "alpha(opacity=50)"; -khtml-opacity: 0.5; -moz-opacity: 0.5; opacity: 0.5; }
.vevent.ended:hover { filter: alpha(opacity=100); -ms-filter: "alpha(opacity=100)"; -khtml-opacity: 1; -moz-opacity: 1; opacity: 1; }

.hcal_tables table tr td { background: transparent; font-weight: normal; padding: 0; }
.hcal_tables thead th { text-align: center; }
.hcal_tables td .calDayLabel { padding: .25em; text-align: center; border-radius: 1em; display: block; color: #f0f0f0; }
.hcal_tables td.has_events .calDayLabel { font-weight: bold; }
.hcal_tables td.calDayToday .calDayLabel { background: #d56312; }

.outOfRange, .notInMonth { opacity: .4; }

#small-calendar .events, #small-calendar .longDays, #small-calendar .calEventDesc { display: none; }
#small-calendar table { font-size: 85%; }
#small-calendar table td.has_events .calDayLabel { background: #363636; }
#small-calendar table td.has_events .events { position: relative; }
#small-calendar table td:hover .events { display: block; position: absolute; z-index: 1000; background: #101010; border: 1px solid #d56312; width: 180px; margin-left: -90px; font-size: 10px; padding: 2px 4px; text-align: left; border-collapse: separate; }

#big-calendar .abbrDays, #big-calendar .datebox, #big-calendar .eventDetails { display: none; }
#big-calendar td { width: 14.2857%; padding: 0 0.5em 0.5em; border: 1px solid #1d1d1d; height: 90px; }
#big-calendar td .calDayLabel { float: right; margin-left: .25em; }
#big-calendar td .event { font-size: 70%; }
#big-calendar td .event:hover .eventDetails { display: block; position: absolute; z-index: 1000; background: #101010; border: 1px solid #d56312; width: 180px; font-size: 10px; padding: 2px 4px; text-align: left; border-collapse: separate; }

.event_times { float: left; width: 70px; clear: left; }
.event_times .datebox + .hide + .datebox { border-left: 0; }

.datebox { background: #363636; position: relative; width: 70px; text-align: center; float: left; border: 1px solid #434343; }
.datebox span { display: block; color: #cacaca; }
.datebox .w, .datebox .mo { text-shadow: none; text-transform: uppercase; }
.datebox .w { background: #cacaca; color: #101010; font-size: 80%; font-weight: bold; }
.datebox .d { font-size: 3em; line-height: 1.25em; text-align: center; font-weight: bold; padding-left: 10px; }
.datebox .mo { position: absolute; width: 4em; left: -1em; bottom: 2em; text-align: left; font-size: 10px; -webkit-transform: rotate(-90deg); -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); }

.event_info { margin: 0 0 2em 90px; }
.event_info h2, .event_info h3, .event_info p { margin: 0; }
.event_info .org { display: inline; padding-right: 1em; }

.boxedform { border: 1px solid #363636; margin-bottom: 1em; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; }
.boxedform > h2 { padding: 0.5em 10px 0; color: #d1b78b; font-weight: bold; text-transform: uppercase; }
.boxedform p { border-bottom: 1px dotted #363636; padding: 0.5em 0; margin-bottom: 0; clear: left; }
.boxedform label { float: left; color: #777777; padding: 10px; font-size: 85%; font-weight: bold; width: 30%; }
.boxedform label.nofloat { float: none; width: 100%; }
.boxedform input[type=text], .boxedform input[type=password], .boxedform textarea { -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; width: 68%; border: 1px solid #363636; padding: 5px 10px; background: #101010; }
.boxedform .helptext { color: #777777; font-size: 80%; display: block; margin-left: 33%; }
.boxedform.has-fieldsets { border: 0; }
.boxedform.has-fieldsets fieldset { border: 1px solid #363636; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; margin-bottom: 1em; }
.boxedform.has-fieldsets fieldset legend { padding: 0.5em 10px 0; color: #d1b78b; font-weight: bold; text-transform: uppercase; }

.submithold, p.submit { text-align: center; border-bottom: 0; }
.submithold input, p.submit input { color: #1d1d1d; border: 1px solid #d1b78b; font-size: 1.1em; font-weight: bold; padding: 0 1em; -webkit-border-radius: 0.6em; -moz-border-radius: 0.6em; border-radius: 0.6em; }

[class*=" icon-"]:before { padding-right: .33em; }

.icon-add:before, .icon-edit:before { color: #ffdc59 !important; }

.icon-add:before { content: '✚'; }

.icon-audio:before { content: '🔊'; }

.icon-cal:before { content: '📅'; }

.icon-check:before { content: '☑'; font-size: 120%; }

.icon-cog:before { content: '⚙'; font-size: 120%; }

.icon-edit:before { content: '✎'; }

.icon-map:before { content: '📍'; }

.icon-photo:before { content: '📷'; }

.icon-video:before { content: '🎦'; }

hr.fancy { border: 0; content: ""; display: block; clear: both; height: 5px; background: rgba(255, 255, 255, 0.2); border-radius: 6px; -webkit-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5); -moz-box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.4); box-shadow: inset 2px 2px 2px rgba(0, 0, 0, 0.5); }

.hero { position: relative; z-index: 10; padding: 2em 0 0; }
.hero h1 { font-size: 2.5em; }

.kicker { margin-bottom: .125em; font-size: 85%; text-transform: uppercase; line-height: 1em; font-weight: bold; display: block; color: #cacaca; }
.kicker a { color: #cacaca; }
.kicker a:hover { color: #d56312; }
.kicker + h1 { margin-top: 0; }

.hero .boxedform { background: #030303 url(../../img/site/texture-overlay.png); background: url(../../img/site/texture-overlay.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d1d1d), color-stop(100%, #030303)); /* Chrome, Safari 4+ */ background: url(../../img/site/texture-overlay.png), -moz-gradient(center top, #1d1d1d 0%, #030303 100%); background: url(../../img/site/texture-overlay.png), -webkit-linear-gradient(top, #1d1d1d 0%, #030303); /* Chrome 10+, Safari 5.1+ */ background: url(../../img/site/texture-overlay.png), -moz-linear-gradient(center top, #1d1d1d 0%, #030303 100%); /* FF 3.6+ */ background: url(../../img/site/texture-overlay.png), -ms-linear-gradient(top, #1d1d1d 0%, #030303 100%); /* IE 10+ */ background: url(../../img/site/texture-overlay.png), -o-linear-gradient(top, #1d1d1d 0%, #030303 100%); /* Opera 11.10+ */ background: url(../../img/site/texture-overlay.png), linear-gradient(top, #1d1d1d 0%, #030303 100%); /* W3C */ }
.hero .boxedform label, .hero .boxedform legend, .hero .boxedform h2 { padding-left: 20px; }
.hero .boxedform input[type=text], .hero .boxedform input[type=password], .hero .boxedform textarea { width: 67%; }

.content-body p { font-size: 110%; }
.content-body .datebox { margin-right: 1em; }
@media (min-width: 780px) { .content-body { width: 365px; float: left; } }
@media (min-width: 980px) { .content-body { width: 460px; } }
@media (min-width: 1220px) { .content-body { width: 540px; } }
@media (min-width: 1220px) { .content-body { width: 620px; } }
@media (min-width: 1600px) { .content-body { width: 800px; } }
.content-body #top_assets { position: relative; z-index: 100; border-bottom: 2px solid #1d1d1d; padding-bottom: .25em; }
.content-body #top_assets ul.sociallinks { margin: 0; border-bottom: 0; }
@media (min-width: 780px) { .content-body #top_assets { width: 230px; float: right; margin: 0 -160px 1em 1em; }
  .content-body #top_assets blockquote { display: block; } }
@media (min-width: 980px) { .content-body #top_assets { width: 380px; margin-right: -160px; } }
@media (min-width: 1220px) { .content-body #top_assets { width: 460px; } }
@media (min-width: 1600px) { .content-body #top_assets { width: 540px; margin-right: -320px; } }
.content-body #top_assets .tabbed > ul { text-align: right; font-size: 80%; list-style: none; margin: 0.25em 0 0; background: transparent; }
.content-body #top_assets .tabbed > ul > li { background: transparent; padding: 0; }
.content-body #top_assets .tabbed > ul > li a { background: #cacaca; -webkit-border-radius: 1em; -moz-border-radius: 1em; border-radius: 1em; color: #101010; padding: 0.25em 0.5em; text-shadow: none; }
.content-body #top_assets .tabbed > ul > li.active { border: 0; }
.content-body #top_assets .tabbed > ul > li.active a { background: #d56312; }
.content-body #top_assets .tabbed > ul .preview { position: absolute; width: 6em; top: -65px; margin-left: -4em; display: none; min-height: 50px; background: #d56312; color: #101010; line-height: 50px; text-align: center; text-shadow: none; font-weight: bold; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-box-shadow: 0 0 4px black; -moz-box-shadow: 0 0 4px black; box-shadow: 0 0 4px black; }
.content-body #top_assets .tabbed > ul .preview img { border-color: #d56312; }
.content-body #top_assets .tabbed > ul .preview:before { display: inline-block; z-index: 1000; content: ' '; height: 0; position: absolute; width: 0; border: 7px solid transparent; border-top-color: #d56312; top: 100%; left: 35px; -webkit-box-shadow: 0 0 4px black; -moz-box-shadow: 0 0 4px black; box-shadow: 0 0 4px black; }
.content-body #top_assets blockquote { display: none; font: 1.33em Georgia, serif; border-top: 2px solid #1d1d1d; margin: 0.25em 0; }
.content-body #top_assets blockquote em { display: inline-block; float: right; padding-top: .67em; font: 13px "Helvetica", "Arial Unicode", Verdana, Arial, sans-serif; text-align: right; color: #cacaca; }
.content-body #top_assets blockquote em:before { content: '— '; }
.content-body #top_assets object, .content-body #top_assets video { width: 100%; }

#more_assets { float: right; }
@media (min-width: 780px) { #more_assets { width: 180px; } }
@media (min-width: 980px) { #more_assets { width: 220px; } }
@media (min-width: 1220px) { #more_assets { width: 380px; } }

html { background: #101010 url(../../img/site/texture-overlay.png); }

body { font-family: "Helvetica", "Arial Unicode", Verdana, Arial, sans-serif; color: #f0f0f0; height: 100%; -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }

select, input, textarea { color: #cacaca; }

a { color: #d1b78b; }
a:link { -webkit-tap-highlight-color: #d1b78b; }
a:hover { color: #d56312; }

h1, h2, h3 { font-weight: normal; }

::-moz-selection { background: #cacaca; color: #1d1d1d; }

::selection { background: #cacaca; color: #1d1d1d; }

/**************************** Structure ******************************/
.constrain { margin: 0 auto; }
@media (min-width: 780px) { .constrain { width: 760px; } }
@media (min-width: 980px) { .constrain { width: 940px; } }
@media (min-width: 1220px) { .constrain { width: 1180px; } }
@media (min-width: 1600px) { .constrain { width: 1560px; } }

body.collapsed #masthead { -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4); position: fixed; z-index: 1000; }
body.collapsed #masthead hgroup h2 { display: none; }
@media (max-width: 779px) { body.collapsed #masthead #main_menu { display: none; } }
@media (min-width: 780px) { body.collapsed #masthead #main_menu ul { display: none; } }

#masthead { -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); box-shadow: 0 2px 2px rgba(0, 0, 0, 0.3); top: 0; width: 100%; z-index: 100; padding: 10px 0; min-height: 60px; border-bottom: 2px solid #d56312; background: #a64d0e url(../../img/site/texture-overlay.png); background: url(../../img/site/texture-overlay.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d56312), color-stop(100%, #a64d0e)); /* Chrome, Safari 4+ */ background: url(../../img/site/texture-overlay.png), -moz-gradient(center top, #d56312 0%, #a64d0e 100%); background: url(../../img/site/texture-overlay.png), -webkit-linear-gradient(top, #d56312 0%, #a64d0e); /* Chrome 10+, Safari 5.1+ */ background: url(../../img/site/texture-overlay.png), -moz-linear-gradient(center top, #d56312 0%, #a64d0e 100%); /* FF 3.6+ */ background: url(../../img/site/texture-overlay.png), -ms-linear-gradient(top, #d56312 0%, #a64d0e 100%); /* IE 10+ */ background: url(../../img/site/texture-overlay.png), -o-linear-gradient(top, #d56312 0%, #a64d0e 100%); /* Opera 11.10+ */ background: url(../../img/site/texture-overlay.png), linear-gradient(top, #d56312 0%, #a64d0e 100%); /* W3C */ }
#masthead hgroup, #masthead nav { display: inline-block; }
#masthead hgroup { color: #101010; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.7); padding-right: 20px; width: 29%; }
@media (max-width: 779px) { #masthead hgroup { padding-left: 20px; } }
#masthead hgroup a { color: #101010; }
#masthead > div #menu-trigger { float: right; padding: 0.5em 1.5em; font-weight: bold; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; border: 1px inset #d56312; color: #101010; font-size: 75%; margin-right: 20px; }
#masthead > div #menu-trigger.activated { background: #d1b78b; }
#masthead nav { position: relative; font-size: 95%; }
@media (min-width: 780px) { #masthead nav { width: 70%; } }
@media (max-width: 779px) { #masthead nav #main_menu { display: none; } }
#masthead nav #main_menu > li { padding: 0.25em 1.33em 0.125em 0; font-weight: bold; }
#masthead nav #main_menu > li ul { margin-bottom: 1em; font-weight: normal; font-size: 95%; }
#masthead nav #main_menu > li ul li { line-height: 1em; padding: 0.25em 0; }
#masthead nav #main_menu a { color: #1d1d1d; }

#content { text-shadow: 1px 1px 2px #101010; }
#content figure img { border: 1px solid #d1b78b; }
#content figure figcaption { font-size: 80%; padding-bottom: .5em; color: #cacaca; font-weight: normal; }
#content figure figcaption .author { display: block; text-align: right; font: 9px "Helvetica", "Arial Unicode", Verdana, Arial, sans-serif; text-transform: uppercase; margin: -1.5em 0.5em 0 0; }
#content figure figcaption p { margin: 0; }
#content div[role=main] { padding-bottom: 1em; }
#content div[role=main] p, #content div[role=main] ul, #content div[role=main] ol, #content div[role=main] dl, #content div[role=main] table { margin-bottom: 1em; }

#footer { clear: both; }
#footer h3 { clear: both; padding-top: .5em; }
#footer > div { margin: 0 0.5em; }
#footer > div > p { text-align: right; display: block; }

#searchForm { text-align: right; }
#searchForm select { width: 120px; }
#searchForm #q { border: 1px solid #cacaca; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; padding: 3px; margin-right: -8px; width: 140px; font-size: 13px; }
#searchForm button { border: 0; padding: 4px 5px; margin: 0; font-size: 13px; text-transform: uppercase; background: #030303 none; background: none, -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d1d1d), color-stop(100%, #030303)); /* Chrome, Safari 4+ */ background: none, -moz-gradient(center top, #1d1d1d 0%, #030303 100%); background: none, -webkit-linear-gradient(top, #1d1d1d 0%, #030303); /* Chrome 10+, Safari 5.1+ */ background: none, -moz-linear-gradient(center top, #1d1d1d 0%, #030303 100%); /* FF 3.6+ */ background: none, -ms-linear-gradient(top, #1d1d1d 0%, #030303 100%); /* IE 10+ */ background: none, -o-linear-gradient(top, #1d1d1d 0%, #030303 100%); /* Opera 11.10+ */ background: none, linear-gradient(top, #1d1d1d 0%, #030303 100%); /* W3C */ }
#searchForm span { font-size: 10px; color: #cacaca; }

/************************ COMMON CLASSES AND ELEMENTS ********************/
time { color: #cacaca; font-size: 80%; display: block; }

.block { display: block; }

.breakout { display: block; border: 1px solid #3b3b3b; -webkit-border-radius: 0.5em; -moz-border-radius: 0.5em; border-radius: 0.5em; background: #363636; padding: 1em; margin: 1em 0; font-size: 150%; text-shadow: 0 1px 2px rgba(0, 0, 0, 0.8); }

.avatar img { max-width: 80px; }

/********************* CONTENT SECTION FRONTS *****************************/
#top_stories_hold a { color: #f0f0f0; }
#top_stories_hold a:hover, #top_stories_hold a:active { color: #d1b78b; }
@media (min-width: 780px) { #top_stories_hold #lead_item figure.vertical { width: 57%; }
  #top_stories_hold #lead_item figure.vertical figcaption { display: none; }
  #top_stories_hold #lead_item figure { float: right; margin: 0 0 1em 20px; } }
@media (min-width: 1220px) { #top_stories_hold #lead_item { width: 450px; float: left; }
  #top_stories_hold #lead_item p { font-size: 105%; } }
@media (min-width: 1600px) { #top_stories_hold #lead_item { width: 700px; } }
#top_stories_hold article + article { border-top: 2px solid #1d1d1d; margin-top: 1em; }
#top_stories_hold article + article h1, #top_stories_hold article + article p { font-weight: normal; font-size: 100%; }
#top_stories_hold article + article h1 { font-size: 1.5em; }
#top_stories_hold article + article p { font-size: 100%; }
#top_stories_hold #more_featured h1 { font-size: 1.25em; }
#top_stories_hold #more_featured p { font-size: 90%; }
#top_stories_hold #more_featured img { width: 110px; }
@media (min-width: 780px) { #top_stories_hold #more_featured article { display: inline-block; padding: 0.5em 10px 0 0; border-top: 1px solid #cacaca; width: 49.5%; vertical-align: top; } }
@media (min-width: 1220px) { #top_stories_hold #more_featured { width: 300px; float: right; }
  #top_stories_hold #more_featured article { display: block; width: auto; padding-right: 0; clear: right; }
  #top_stories_hold #more_featured article:first-child { border: 0; } }

#more_articles h1 { font-size: 1.5em; }

/**************************** STORY PAGES  *********************************/
p.vcard { line-height: 1em; }

p.author { font-weight: bold; font-size: 80%; margin: 0; text-transform: uppercase; }

p.source-org { font-family: Georgia, serif; font-size: 75%; }

h2.overline { font-size: 1.33em; margin-bottom: 0; }

h2.overline + h1 { margin-top: .125em; }

.sociallinks { border: solid #1d1d1d; border-width: 2px 0; padding: 0.25em 0; margin-bottom: 0 0 1em; }
.sociallinks li { list-style: none; display: inline-block; padding: 0 0.5em; margin: 0; font-size: 70%; width: 24%; }
.sociallinks li#social_fb { width: 48%; }
.sociallinks img { border: 0; width: 24px; padding-right: 2px; }
.sociallinks iframe { border: none; overflow: hidden; width: 90px; height: 21px; margin-bottom: -.67em; }
.sociallinks a { color: #cacaca; font-weight: bold; }

.section_front article > a { color: #f0f0f0; }
.section_front article > a:hover { color: #bd5810; }

.story_detail .dateline { font-size: .9em; font-weight: bold; margin-top: .45em; }
.story_detail .dateline:after { content: '|'; color: #cacaca; padding: 0 0.5em; font-weight: normal; }
.story_detail object, .story_detail video { width: 100%; }
.story_detail .shirttail { color: #cacaca; border-top: 2px solid #1d1d1d; margin: 0; padding: 0.25em 0; font-size: .8em; }

/******************** GALLERIES **********************/
#gallery_thumbs_hold { display: none; width: 100%; overflow: hidden; height: 70px; position: relative; }
#gallery_thumbs_hold li { height: 65px; width: 65px; margin: 0 5px 0.5em 0; border: 1px solid #f0f0f0; }
#gallery_thumbs_hold li.current { border-color: #d56312; border-width: 4px; }
#gallery_thumbs_hold li img { border: 0; }

#gallery_slides_hold figure.vertical { text-align: center; }
#gallery_slides_hold figcaption { display: none; }

#gallery_info .sociallinks li { width: auto; }

/******************** user posts and comments **********/
#comment-list { list-style-position: inside; margin: 0; padding: 0; }
#comment-list > li { clear: both; position: relative; font-size: 80%; margin-bottom: 2em; }
#comment-list address { letter-spacing: 1px; padding-left: 100px; margin-bottom: 1em; text-shadow: none; }
#comment-list address time { float: right; padding-right: 5px; }
#comment-list address a[rel=author] { font-weight: bold; font-size: 13px; }
#comment-list .avatar { margin-left: -110px; }
#comment-list .post { margin: 0 0 0 100px; min-height: 40px; font-size: 125%; }
#comment-list .postcontrols, #comment-list .postvoting { font-size: 99%; border-radius: 5px; display: inline-block; width: auto; text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7); }
#comment-list .postcontrols a, #comment-list .postcontrols span, #comment-list .postcontrols > li, #comment-list .postvoting a, #comment-list .postvoting span, #comment-list .postvoting > li { display: inline-block; vertical-align: top; border-radius: 5px; }
#comment-list .postcontrols a, #comment-list .postcontrols span, #comment-list .postvoting a, #comment-list .postvoting span { padding: 0 7px; }
#comment-list .postcontrols a.report:hover, #comment-list .postcontrols a.report:active, #comment-list .postvoting a.report:hover, #comment-list .postvoting a.report:active { background: #600; }
#comment-list .postcontrols a.voting:hover, #comment-list .postcontrols a.voting:active, #comment-list .postvoting a.voting:hover, #comment-list .postvoting a.voting:active { background: #060; }
#comment-list .postcontrols { float: right; list-style: none; margin: 0; position: relative; }
#comment-list .postcontrols ul { display: none; list-style: none; margin-left: -2.75em; margin-bottom: 0; }
#comment-list .postcontrols .mod { cursor: pointer; }
#comment-list .postcontrols .mod li { font-size: 70%; }
#comment-list .postcontrols .mod a { display: block; padding: 2px 0 2px 24px; background-position: 8px center; background-repeat: no-repeat; }
#comment-list .postcontrols .mod span { width: .65em; overflow: hidden; white-space: nowrap; -webkit-transition: all 0.4s ease-in; }
#comment-list .postcontrols .activated > span { width: auto; }
#comment-list .postvoting { margin-left: 45%; }

body { backgound-image: url(../../img/site/texture-overlay.png); -webkit-transition: all 0.2s ease-in; -moz-transition: all 0.2s ease-in; -ms-transition: all 0.2s ease-in; -o-transition: all 0.2s ease-in; transition: all 0.2s ease-in; }

#masthead { background: black url(../../img/site/texture-overlay.png); background: url(../../img/site/texture-overlay.png), -webkit-gradient(linear, left top, left bottom, color-stop(0%, #1d1d1d), color-stop(100%, black)); /* Chrome, Safari 4+ */ background: url(../../img/site/texture-overlay.png), -moz-gradient(center top, #1d1d1d 0%, black 100%); background: url(../../img/site/texture-overlay.png), -webkit-linear-gradient(top, #1d1d1d 0%, black); /* Chrome 10+, Safari 5.1+ */ background: url(../../img/site/texture-overlay.png), -moz-linear-gradient(center top, #1d1d1d 0%, black 100%); /* FF 3.6+ */ background: url(../../img/site/texture-overlay.png), -ms-linear-gradient(top, #1d1d1d 0%, black 100%); /* IE 10+ */ background: url(../../img/site/texture-overlay.png), -o-linear-gradient(top, #1d1d1d 0%, black 100%); /* Opera 11.10+ */ background: url(../../img/site/texture-overlay.png), linear-gradient(top, #1d1d1d 0%, black 100%); /* W3C */ -moz-background-size: cover; background-size: cover; }
#masthead > div { position: relative; }
#masthead nav li a { color: #777777; text-shadow: 0 1px 1px rgba(0, 0, 0, 0.9), 0 0 20px black, 0 0 10px black, 0 0 5px black; }
#masthead nav li a:hover { color: #f0f0f0; }
#masthead #main_menu li.active > a:before { content: "◉"; }
#masthead > div #menu-trigger { background: #d56312; z-index: 100; }
@media (min-width: 780px) { #masthead > div #menu-trigger { display: block; position: absolute; bottom: -3em; right: 0; background: #030303 url(../../img/site/texture-overlay.png); border-width: 0 2px 2px; border-radius: 0 0 5px 5px; padding: 0 2em 0.5em; } }

@media (min-width: 780px) { #content { background-repeat: no-repeat; } }

#herotext { font-size: 150%; padding-right: 20px; }
@media (min-width: 1220px) { #herotext { padding-right: 20%; } }
@media (min-width: 980px) { #herotext { padding-right: 30%; } }
@media (min-width: 780px) { #herotext { padding-right: 40%; } }

#masthead { background: black url("/static/img/site/6120-bg.jpg") no-repeat right; }
#masthead, #masthead hgroup, #masthead a, #masthead nav #main_menu a, #masthead .trigger, #masthead .navicon { color: #f0f0f0; }
#masthead .navicon:before { color: #cacaca; }
