{% extends "all_content/base.html" %}

{% block title %}Add entry: {% endblock title %}

{% block content %}
  <h1>Add or edit an entry</h1>
  <form id="blog-entry" class="boxedform" action="." enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <p class="submit">
      <input type="submit" value="Submit Entry">
    </p>
  </form>
{% endblock %}

{% block extrascript %}
   <script src="{{ STATIC_URL }}js/gp_markitup-ck.js"></script>
   <script>
    $("#blog-entry #id_body").markItUp(gp_markdown_settings);
   </script>
{% endblock %}