<div class="video">
{% if video.streaming_url %}
	<div style="width:50%; float:left">

<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100%" height="400" id="utv531153" name="utv531153">
	<param name="flashvars" 
		value="loc=%2F&amp;autoplay=false&amp;cid={{ video.ustream_id }}&amp;locale=en_US&amp;hasticket=false&amp;v3=1" />
		<param name="allowfullscreen" value="true" />
		<param name="allowscriptaccess" value="always" />
		<param name="src" value="http://www.ustream.tv/flash/viewer.swf" />
		<embed flashvars="loc=%2F&amp;autoplay=false&amp;cid={{ video.ustream_id }}&amp;locale=en_US&amp;hasticket=false&amp;v3=1" 
			width="100%" height="400" allowfullscreen="true" allowscriptaccess="always" id="utv531153" name="utv_n_4471" 
			src="http://www.ustream.tv/flash/viewer.swf" type="application/x-shockwave-flash" />
	</object>
	
	</div>
<iframe width="50%" scrolling="no" height="400" frameborder="0" style="border: 0px none transparent;" src="http://www.ustream.tv/socialstream/{{ video.ustream_id }}"></iframe>

{% endif %}
{% if data == 'ustream' %}
	{# this is a ustream video #}
	<div style="width:50%; float:left; margin-right:2%">
		<object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" width="100%" height="400" id="utv93659" name="utv_n_200275">
			<param name="flashvars" value="loc=%2F&amp;autoplay=false&amp;vid={{ video.ustream_id }}&amp;locale=en_US&amp;hasticket=false&amp;v3=1" />
			<param name="allowfullscreen" value="true" />
			<param name="allowscriptaccess" value="always" />
			<param name="src" value="http://www.ustream.tv/flash/viewer.swf" />
			<embed flashvars="loc=%2F&amp;autoplay=false&amp;vid={{ video.ustream_id }}&amp;locale=en_US&amp;hasticket=false&amp;v3=1" width="100%" height="400" allowfullscreen="true" allowscriptaccess="always" id="utv93659" name="utv_n_200275" src="http://www.ustream.tv/flash/viewer.swf" type="application/x-shockwave-flash" />
		</object>
	</div>
	<p>{{ video.blurb }}</p>
{% endif %}



{% if data.swf_url %} {# this is a youtube video #}
	<object width="{% firstof width data.width %}" height="{% firstof height data.height %}">
		<param name="movie" value="http://www.youtube.com/v/{{ data.yt_id }}"></param>
		<param name="allowFullScreen" value="true"></param>
		<param name="allowscriptaccess" value="always"></param>
		<embed src="http://www.youtube.com/v/{{ data.yt_id }}" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="{% firstof width data.width %}" height="{% firstof height data.height %}">
					<!-- <p>We're sorry, this video can not be played in your browser.</p> -->
		</embed>
		</object>
		{% if not video.hide_info %}
	 <h3>{{ data.title }}</h3>
	 <p>{{ data.description|safe }}</p>
{% endif %}
{% endif %}



</div>
	