{% load markdown social_tags %}
<div id="photoset_thumbs_hold">
  <ul id="photoset_thumbs">
    {% for obj in photoset %}
      <li id="thumb_{{ forloop.counter }}" data-deferred-thumbs="{{ obj.image.thumbnail }}"></li>
    {% endfor %}
  </ul>
</div><!-- /photoset_thumbs_hold -->

<div id="photoset_slides_hold">
  <div id="photoset_slides">
    {% for obj in photoset %}
      {% if forloop.counter == 1 %}
        {# load the first, defer loading of subsequent #}
        <figure id="image_{{ forloop.counter }}">
          <img src="{{ obj.image.extra_thumbnails.t_720 }}">
      {% else %}
        <figure id="image_{{ forloop.counter }}" data-load-on-demand="{{ obj.image.extra_thumbnails.t_720 }}">
      {% endif %}
        <figcaption>
          <div class="caption">{% firstof object.caption object.short_description %}</div>
          <span class="byline">{{ object.byline }}</span>
        </figcaption>
      </figure>
    {% endfor %}
  </div>
</div> <!-- /photoset_slides -->

<div id="photoset_info">
  {% block photoset_info %}
    <h1>{{ object.title }}</h1>
    {{ object.summary|markdown }}
    {% if object.credit %}
      <p class="meta">{{ object.credit }}</p>
    {% endif %}
  {% endblock %}

    {# insert generic pagination #}
    <nav class="pager">
      <ul>
        <li class="prev" title="Previous"><span>previous</span></li>
        <li class="current"><span id="photoset_index">
          1</span> of {{ photoset|length }}</li>
        <li class="next" title="Next"><span>next</span></li>
      </ul>
    </nav>

    {% social_links object %}
    <div id="caption_hold"></div>
  </div>
  {% block photoset_related %}
  <section class="clear">
    {% get_related_galleries gallery 4 %}
  </section>
  {% endblock %}
