<ul id="full-menu" role="menu">
  <li>
    <a href="{% url 'article_list' %}">News</a>
  </li>
  <li>
    <a href="{% url 'events_index' %}">Events</a>
  </li>
  <li>
    <a href="{% url 'gallery_list' %}">Photos</a>
  </li>
  <li>
    <a href="{% url 'video_list' %}">Video</a>
  </li>
  <li>
    <a href="{% url 'site_contact_form' %}">Contact</a>
  </li>
  {% if authenticated_request %}
    <li>
      <a href="{% url 'edit_profile' %}" class="right icon-edit">
        Edit
      </a>
      <a href="{% url 'view_profile' user.username %}">
        Your profile
      </a>
    </li>
  {% else %}
    <li>
      {% include "includes/signin.html" %}
    </li>
  {% endif %}
</ul>