{% load voting_tags %}

<ul class="sociallinks">
  {% if authenticated_request %}
    <li>
      <a href="/watchlist/{{ ctype.id }}/{{ object.id }}/add/" title="Add to watch list">
        <img src="/media/img/icons/social/bookmark_add.png" alt="+">
        Watch
      </a>
    </li>
    {% if voting %}
      <li>
        <a href="{% url 'generic_vote' ctype.name|lower object.id 'up' %}" class="voting">
          ⬆
          <span class="votes">
            {{ object.votes|clean_score }}
          </span>
          vote{{ object.votes|pluralize }}
        </a>
        {% if vote_down %}
            <a href="{% url 'generic_vote' ctype.name|lower object.id 'down' %}" class="voting" title="{% firstof vote_down_msg 'Vote down' %}">
               ⬇
            </a>
          </li>
        {% endif %}
      </li>
    {% endif %}
  {% endif %}
  <li>
    <a href="http://www.facebook.com/sharer.php?u=http://{{ site.domain }}{{ url }}&t={{ object }}" class="icon-facebook" title="Share on Facebook">
      Facebook
    </a>
  </li>
  <li>
    <a href="http://twitter.com/home?status={{ object }} http://{{ site.domain }}{{ url }}" class="icon-twitter" title="Share on Twitter">
      Twitter
    </a>
  </li>
</ul>
