{% extends "base.html" %}

{% load markup typogrify_tags thumbnail cache social_tags %}

{% block title %}{{ video.name }}: {% endblock %}

{% block section %}video{%endblock%}

{% block content %}
<h1>{{ video.title }}</h1>
{% if video.yt_id %}
 <iframe width="100%" height="60%" src="http://www.youtube.com/embed/{{ video.yt_id }}" frameborder="0" allowfullscreen></iframe>
{% endif %}

{% if video.content_object %}
  <h4>
    See More: 
    <a href="{{video.content_object.get_absolute_url }}">
    {{ video.content_object }}</a>
  </h4>
{% endif %}

{% with video as object %}
  {% include 'comments/inclusion/comments.html' %}
{% endwith %}
{% endblock %}

{% block secondary %}
  <h1>{{video.name }}</h1>
  {{ video.blurb|markdown|typogrify }}

  {% social_links video user %}
{% endblock %}

