/* CALENDARS AND DATE HANDLING *************************/
// Note that most of the hcal classes are set via the hcal.js script.
.vevent.ended {@include opacity(.5);
  &:hover {@include opacity(1)}
}
.hcal_tables {
  table tr td {background:transparent; font-weight:normal; padding:0}
  thead th {text-align:center}
  td .calDayLabel {padding:.25em; text-align:center;  border-radius:1em; display:block; color:$inverse}
  td.has_events .calDayLabel {font-weight:bold;}
  td.calDayToday .calDayLabel {background:$accent;  }
}
// some global calendar classes
.outOfRange, .notInMonth {opacity:.4}


// small calendars
#small-calendar {
  .events, .longDays, .calEventDesc  {display:none}
  table {font-size:85%;
    td.has_events {
      .calDayLabel {background: $base_alt2; }
      .events { position:relative; }
    }
    td:hover .events {
      display:block; 
      position:absolute;
      z-index:1000; 
      background: $base;
      border:1px solid $accent;
      width:180px;
      margin-left: -90px;
      font-size:10px; 
      padding:2px 4px;
      text-align:left;
      // IE9 has an issue with box shadow inside tables with border-collapse set (all of them). This fixes it.
      border-collapse:separate;
    }
  }
}

// big calendars
#big-calendar {
  .abbrDays, .datebox, .eventDetails {display:none}
  td {width:14.2857%; padding: 0 .5em .5em; border:1px solid $base_alt; height:90px; 
    .calDayLabel {float:right; margin-left:.25em}
    .event {font-size:70%;}
    .event:hover .eventDetails {
      display:block; 
      position:absolute;
      z-index:1000; 
      background:$base;
      border:1px solid $accent;
      width:180px;
      font-size:10px; 
      padding:2px 4px;
      text-align:left;
      // IE9 has an issue with box shadow inside tables with border-collapse set (all of them). This fixes it.
      border-collapse:separate;
    }
  }
}

// Dateboxes  
.event_times {float:left; width:70px; clear:left;
  .datebox+.hide+.datebox {border-left:0}  
}
.datebox {background:$base_alt2; position:relative; width:70px; text-align:center; 
  float:left; 
  border:1px solid lighten($base_alt2, 5%);
  span {display:block; color:$inverse_alt}
  .w, .mo {text-shadow:none;text-transform: uppercase; }
  .w {background:$inverse_alt; color:$base; font-size:80%; font-weight:bold}
  .d {font-size:3em; line-height:1.25em; text-align:center; font-weight:bold; padding-left:10px;}
  .mo {position: absolute; width:4em; left: -1em; bottom: 2em; text-align:left; font-size:10px;
  -webkit-transform: rotate(-90deg); 
     -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
  }
}
.event_info {margin: 0 0 2em 90px;
   h2, h3, p {margin:0}
  .org {display:inline; padding-right:1em}
}