// TABS
.tabbed {
  & > * {
    display:none; 
    position:relative;
    z-index:1;
    @include trans(all, .3s, ease-in)
  }
  & >*.activeTab, & > ul {
    display:block
  }
  & > ul {
    font-size:90%; 
    width:auto; 
    float:none; 
    height:1.67em; 
    line-height:1.67em; 
    padding:0; 
    margin: 0 0 5px; 
    clear:both;
    
    > li {display:inline; padding:.25em 1em .25em 1em;}
    li.active {background:$accent_alt; 
        border:1px solid $base_alt2;
        padding:.25em 1em;
        @include radius(.5em);
    }
  }
}