{% extends "admin/base.html" %}
{% load i18n admin_static %}

{% block title %}
  {{ title }} | {{ site.name }} {% trans 'administration' %}
{% endblock %}

{% block extrahead %}
  <link rel="stylesheet" type="text/css" href="{% static "admin/css/django-overrides.css" %}" />
{% endblock %}

{% block branding %}
  <h1 id="site-name">
    <a href="/">{% firstof site.name 'Site' %}</a> &rsaquo; 
    <a href="{% url 'admin:index' %}">{% trans 'administration' %}</a>
  </h1>
{% endblock %}

{% block userlinks %}
  <a href="/admin/how-to/">How-to</a> / {{ block.super }}
{% endblock %}