{% extends "base.html" %}

{% block extra_title %}Words{% endblock%}

{% block bodyclass %}wide{% endblock %}

{% block content %}
<div class="columned two-col">
  <div>
    <a href="/articles/" class="breakout">
      <h1>Articles</h1>
      <p>All sorts of Gretsch guitar stuff.</p>
    </a>
  </div>
  <div>
    <a href="/blogs/wood-wire/" class="breakout">
      <h1>The Wood &amp; Wire blog </h1>
      <p>Curt Wilson has a knack for restoring Gretsch guitars, and he'll take you through the process step-by-step.</p>
    </a>
  </div>
</div>
{% endblock %}