{% extends "admin/base.html" %}
{% load i18n %}

{% block extrastyle %}
  <style>
     div.inline-group div.tabular .module table td.original p { 
      position:relative; 
      height:auto 
    }
  </style>
{% endblock %}

{% block extrahead %}
   <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.1/jquery-ui.min.js"></script>
{% endblock %}

{% block title %}{{ title }} | {% trans 'Django site admin' %}{% endblock %}

{% block branding %}
  <h1 id="site-name">{% trans 'Django administration' %}</h1>
{% endblock %}

{% block nav-global %}{% endblock %}
