{% if next or previous %}
  {% load typogrify %}
  <nav class="pager prev-next clear">
    <ul>
      {% if previous %}
        <li class="prev">
          <a href="{{ previous.get_absolute_url }}">
            <small class="meta block">Previous:</small>
            {{ previous.title|typogrify }}
          </a>
        </li>
      {% endif %}
      {% if next %}
        <li class="next">
          <a href="{{ next.get_absolute_url }}">
            <small class="meta block">Next:</small>
            {{ next.title|typogrify }}
          </a>
        </li>
      {% endif %}
    </ul>
  </nav>
{% endif %}