
<h1>{{ destination.title }}</h1>
<p>{{ destination.summary }}</p>
<hr class="fancy">
{% if authenticated_request %}
  {% with object.destination as blog %}
    {% if user.is_staff or user.id == object.author.id or user.id == blog.author.id %}
      <a href="{% url 'blog_edit_entry' blog.slug object.id %}" class="button icon-edit">
        Edit this entry
      </a>
      <a href="{% url 'blog_add_image' blog.slug object.slug %}" class="button icon-add">
        Add an image
      </a>
    {% endif %}
  {% endwith %}
{% endif %}

{% load cache %}
{% cache 120 'entry_extra' object.id object.last_modified 5 %}
  {% if prev_update %}
    <aside class="related_story">
      {% if prev_update.has_image %}
        <img src="{{ prev_update.get_image.image.extra_thumbnails.t_180u }}">
      {% endif %}
      <h3>
        <span class="kicker">Previous</span> 
        <a href="{{ prev_update.get_absolute_url }}">{{ prev_update.title }}</a>
      </h3>
      <p>{{ prev_update.summary }}</p>
    </aside>
  {% endif %}
  {% if next_update %}
    <aside class="related_story">
      {% if next_update.has_image %}
        <img src="{{ next_update.get_image.image.extra_thumbnails.t_180u }}">
      {% endif %}
      <h3>
        <span class="kicker">Next</span>
        <a href="{{ next_update.get_absolute_url }}">{{ next_update.title }}</a>
      </h3>
      <p>{{ next_update.summary }}</p>
    </aside>
  {% endif %}
{% endcache %}