/* Capo basic reset/normalization styles
   Based on HTML5 Boilerplate 3.0: h5bp.com/css
*/

// Reset box model
* { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -o-box-sizing: border-box; box-sizing: border-box; }

// =============================================================================
// HTML5 display definitions
// =============================================================================
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
audio, canvas, video { display: inline-block; }
audio:not([controls]), [hidden] { display: none; }

// Handle font-size and font size adjustments on device orientation change without disabling user zoom: h5bp.com/g
html { font-size: 100%; -webkit-text-size-adjust: 100%; }
body { margin: 0; font-size: 1em; line-height: 1.5; }

// Focused/selected/active/hovered
::selection { text-shadow: none !important; }
a:hover, a:active { outline: 0; }

// Redeclare monospace font family: h5bp.com/j 
// Improve readability of pre-formatted text in all browsers
//pre, code, kbd, samp { font-family: monospace, serif; font-size: 1em; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

q { quotes: none; display:block; font-size:85%; font-family:$alt_font; font-style: italic;
  &:before, &:after { font-size:3em; position:absolute; margin-top:-.25em; opacity:.5; font-style:normal}
  &:before { content: "“"; margin-left:-.5em}
  &:after { content: "”"; }
}

small { font-size: 80%; }

button, input, select, textarea { font-family: sans-serif; }
a { text-decoration:none }
iframe, hr, img, fieldset, legend { border:0 }
abbr[title] { border-bottom: 1px dotted; cursor:help}
b, strong { font-weight: bold; }
blockquote { margin: 1em 1.5em; }
dfn { font-style: italic; }
hr { display: block; height: 1px; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
ins { background: #ff9; color: #000; text-decoration: none; }
mark { background: #ff6; color: #000; font-style: italic; font-weight: bold; }

/////////////
// Basic Typography

// Position subscript and superscript content without affecting line-height: h5bp.com/k
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em;}

h1 { font-size:2em; line-height:1em; margin:.25em 0; }
h2 { font-size:1.75em; line-height:1.33em; margin:.45em 0 .45em }
h3 { font-size:1.25em; margin:1em 0 .33em}
p, ol, ul {margin: .25em 0 .75em}

p+h2 { margin-top:1.3em }
p+h3 { margin-top:1.5em }

// typically (but not always) used as small.meta
.meta { color:#777 }
h2.meta {margin-bottom:0}
h2.meta+* {margin-top:0}


#content-side {font-size:90%}

/* =============================================================================
   Lists
   ========================================================================== */

ul, ol { margin: 1em 0; padding: 0 0 0 1.5em; }
dd { margin: 0 0 0 1.5em; }
nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }


/* =============================================================================
   Embedded content
   ========================================================================== */
/*
// Remove the gap between images and borders on image containers: h5bp.com/i/440
// Responsify
// Provide override for responsive
*/
img { vertical-align: middle; width: 100%;}
img.noscale, .noscale img {width:auto}


/* =============================================================================
   Figures
   ========================================================================== */
figure { margin: 0; }

/* =============================================================================
   Forms
   ========================================================================== */

form, fieldset, button, input, select, textarea { margin: 0; }
fieldset, legend { padding: 0; }

/* Indicate that 'label' will shift focus to the associated form element */
label { cursor: pointer; }
legend { white-space: normal; }

// Correct font-size not inheriting in all browsers
// Define consistent vertical alignment display in all browsers
button, input, select, textarea { font-size: 100%; vertical-align: baseline; }

/* Define line-height as normal to match FF3/4 (set using !important in the UA stylesheet) */
button, input { line-height: normal; }

// Display hand cursor for clickable form elements
// Allow styling of clickable form elements in iOS

button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

/* Re-set default cursor for disabled elements */
button[disabled], input[disabled] { cursor: default; }

/* Consistent box sizing and appearance */
input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }

/* Remove inner padding and border in FF3/4: h5bp.com/l */
button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

// Allow only vertical resizing
 textarea { overflow: auto; vertical-align: top; resize: vertical; }

/* Colors for form validity */
input:invalid, textarea:invalid { background-color: #f0dddd; }

/* =============================================================================
   Tables
   ========================================================================== */
table { border-collapse: collapse; border-spacing: 0; 
	td { vertical-align: top; }
}


/* ==|== non-semantic helper classes ======================================= */

/* Hide from both screenreaders and browsers: h5bp.com/u */
.hide { display: none !important; visibility: hidden;}
/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }
/* Hide only visually, but have it available for screenreaders: h5bp.com/v */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; 
	&.focusable:active, &.focusable:focus { /* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: h5bp.com/p */
		clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; 
	}
}

/* Contain floats: h5bp.com/q */
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }
.clearfix { *zoom: 1; }

.debug {background:#ffc}
.clear {clear:both; margin:0}
hr.clear {visibility:hidden}

.right {float:right}
img.right, figure.right {margin-left:1em}
.left {float:left}
img.left, figure.left {margin-right:1em}

.ellipse{ overflow:hidden; text-overflow:ellipsis; white-space:nowrap; width:100% }






/* ==|== print styles =======================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
  /* Black prints faster: h5bp.com/s */
  * { background: transparent !important; color: black !important; box-shadow:none !important; text-shadow: none !important; filter:none !important; -ms-filter: none !important; } 
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* h5bp.com/t */
  tr, img { page-break-inside: avoid; }
  img { max-width: 100% !important; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; }
}