<!DOCTYPE html><!-- with minimal modifications to h5bp. Modfy it yourself as you see fit. --> 
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>
    {% block title %}{% endblock %} 
    {{ site.name }} 
    {% block extra_title %}{% endblock %}
  </title>
  <meta name="description" content="{% block description %}{% endblock %}">
  {% block viewport_meta %} 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
  {% endblock %}
  {% block extra_meta %}{% endblock extra_meta %}
  {% block canonical %}{% endblock %}
  <link rel="shortcut icon" href="{{ STATIC_URL }}img/favicon.png">
  <link rel="apple-touch-icon" href="{{ STATIC_URL }}img/touch-icon.png">
  
  <link rel="profile" href="http://microformats.org/profile/hcard">
  {% block site_styles %}
    {% if theme %}
      <link rel="stylesheet" href="{{ STATIC_URL }}css/themes/{{ theme }}.css">
    {% else %}
      <link rel="stylesheet" href="{{ STATIC_URL }}css/site.css">
    {% endif %}
    <link rel="stylesheet" href="{{ STATIC_URL }}css/print.css" media="print">
  {% endblock %}

  {# This javascript must be at top #}
  <script src="{{ STATIC_URL }}js/libs/modernizr-2.6.1.min.js"></script>
  {% block extrahead %}{% endblock %}
  {% block feeds %}{% endblock %}
</head>

<body id="{% block bodyid %}default{% endblock %}" class="{% block bodyclass %}section_front{% endblock %} {% block extra_body_class %}{% endblock %}">
  <div id="wrapper">
    <header role="banner">
      <div>
        {% block menu_button %}
          <a href="#full_menu" id="menu-trigger" title="Menu" class="navicon">≡≡</a>
        {% endblock %}
        <div class="site-name">
          {% block site_header %}
            <h1>
              <a href="/" title="Home">
                {% block logo %}{{ site.name }}{% endblock %}
              </a>
            </h1>
            {% block nav_tagline %}{% endblock %}
          {% endblock %}
        </div>
        <nav role="navigation">
          {% block site_nav %}
            {% include 'includes/site_nav.html' %}
          {% endblock %}
        </nav>
      </div>
    </header>
    {% block content_top %}{% endblock %}
    <div id="content" class="constrain">
      {% block chromeframe %}
        <!--[if lte IE 8]>
          <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> for a better experience.</p>
        <![endif]-->
      {% endblock %}
      {% block messages %}
        {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                {{ message }}
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      {% endblock %}
      <div id="content-main" role="main">
        {% block content %}{% endblock %}
      </div> <!-- /#content-main -->
      <div id="content-complementary" role="complementary">
        {% block complementary %}{% endblock %}
      </div><!-- /#content-side -->
      {% block content_bottom %}{% endblock %}
    </div>
    <footer id="footer" role="contentinfo">
      {% block footer_nav %}{% endblock %}
      {% block footer %}
        <div class="constrain">
          <p class="right">Powered by <a href="http://tbaxter.github.io/Tango/">Tango</a>
          <p class="copyright">&copy; {{ now.year }} {{ site.name }}</p>
        </div>
      {% endblock %}
    </footer>
  </div> <!-- /#wrapper -->
  {# Javascript at the bottom for fast page loading #}
  {% block init_js %}{% endblock %}
  {% block site_js %}
    <script src="{{ STATIC_URL }}js/site-combined-min.js"></script>
  {% endblock %}
  {% block app_js %}{% endblock %}
  {% block extrascript %}{% endblock %}

  {# asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet #}
  <script>
    var _gaq = [['_setAccount', '{{ ga_code }}'], ['_trackPageview']];
    (function(d, t) {
    var g = d.createElement(t), s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = ('https:' == location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
    })(document, 'script');
  </script>
</body>
</html>
