# Django and many other dependencies are satisfied by tango-shared-core

tango-shared-core>=1.1
tango-capo>=0.2
tango-comments>=0.5
tango-articles>=0.4
tango-contact-manager>=0.7
tango-happenings>=0.7.1
tango-photos>=0.2
