<select class="url-selector">
	<option>View events by region:</option>
	<option value="/happenings/by-region/pacific/">Pacific Region</option>
	<option value="/happenings/by-region/southwest/">Southwest Region</option>
	<option value="/happenings/by-region/rocky/">Rocky Mountain Region</option>
	<option value="/happenings/by-region/midwest/">Midwest Region</option>
	<option value="/happenings/by-region/central/">Central Region</option>
	<option value="/happenings/by-region/southeast/">Southeast Region</option>
	<option value="/happenings/by-region/midatlantic/">Mid-Atlantic Region</option>
	<option value="/happenings/by-region/northeast/">Northeast Region</option>
	<option value="/happenings/by-region/canada/">Canada</option>
</select>
